body{
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: alef, arial;
}

/* Header */
header h1{
	font-family: alef, arial;
	background-color: #383838;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
}

header span{
	color: #1bd35b;
}

/* Section */
section {
	height: 365px;
	background: #383838 url('img/bg.jpg') no-repeat 0 -365px;
}

section h1{
	margin: 0;
	padding-top: 70px;
	text-align: center;
	color: white;
	font-size: 55px;
}

section h1 span{
	color: #1bd35b;
}