body{
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: alef, arial;
}

/* Header */
header h1{
	font-family: alef, arial;
	color: white;
	background-color: #050505;
	margin: 0;
	padding: 0;
	text-align: center;
}

header span{
	color: #1bd35b;
}

/* Section */
section {
	height: 365px;
	background: #202020 url('img/bg.jpg') no-repeat 0 -365px;
}

section h1{
	margin: 0;
	padding-top: 70px;
	text-align: center;
	color: white;
	font-size: 60px;
}

section h1 span{
	color: #1bd35b;
}

section p{
	margin-top: 0;
	padding: 5px;
	text-align: center;
	font-size: 30px;
	color: white;
}

/* Footer */
footer{
	background-color: #050505;
}

footer h2{
	color: #7a7a7a;
	padding-left: 30px;
	text-align: center;
}

footer h2 span{
	color: #1bd35b;
}

footer p{
	color: #7a7a7a;
	margin-top: -10px;
	font-size: 17px;
	text-align: center;
}

footer p span{
	color: #1bd35b;
}